@mixin font($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      font-weight:$weight;
      font-style: $style;
      src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
   }
}

@include font(MarckScript-Regular,MarckScript-Regular,400,normal); 
@include font(Montserrat-Light,Montserrat-Light,300,normal); 
@include font(Montserrat-Regular,Montserrat-Regular,400,normal); 
@include font(Montserrat-Bold,Montserrat-Bold,700,normal); 

// font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));
$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}


:root {
   font-family: 'Montserrat-Regular', sans-serif;
   line-height: 1.2;
   --title-color: #afc67b;
   --title-dark-color: #9baf6d;
   --text-color: #eaeaea;
   --text-dark-color: #4f4e4e;
   --bg-color: #212121;
   --bg-second-color: #4e5342;
}
