footer.footer 
    .conatiner#contacts 
        .footer__img
            +webp('footer_img','png','quote')
        .footer__text В скором времени будут доступны приложения на такие платформы как Google Play и Apple Store 
        .footer__links
            a.footer__link(href="https://www.facebook.com")
                +webp('facebook','png','facebook')
            a.footer__link(href="https://twitter.com")
                +webp('twitter','png','twitter')
            a.footer__link(href="https://www.instagram.com")
                +webp('instagram','png','instagram')
            a.footer__link(href="https://www.pinterest.com")
                +webp('pinterest','png','pinterest')
            a.footer__link(href="https://www.google.com/")
                +webp('google','png','google')
