include partials/mixins

header.header
    nav.menu
        ul.menu__list
            li.menu__item 
               a.menu__link(href="#") Доставка и оплата
            li.menu__item 
               a.menu__link(href="#") Меню
            li.menu__item 
               a.menu__link(href="#") Акции
            li.menu__item 
               a.menu__link(href="#") Контакты

                 

