include partials/mixins

header.header
   button.burger 
      span
   nav.nav
      ul.nav__list
         li.nav__item 
            a.nav__link.demo(href="#") Доставка и оплата
         li.nav__item 
            a.nav__link(href="#menu") Меню
         li.nav__item 
            a.nav__link(href="#event") Акции
         li.nav__item 
            a.nav__link(href="#contacts") Контакты

                 

