html(lang="en")
   include components/head.pug
   body
   include components/header.pug
   include components/partials/mixins

   section.f-screen
      .f-screen__wrapper
         .f-screen__logo
            img(src="images/logo.png", alt="logo")
         h2.f-screen__title ОТКРЫВАЕМСЯ
         .f-screen__date 17 ФЕВРАЛЯ
         a.f-screen__btn(href="#") УЗНАТЬ БОЛЬШЕ
            





   include components/footer.pug
   include components/scripts.pug

